/*
This is just a test file for making sure the script is working properly.
If it is, the media queries below will change the body's background color depending on the browser width.
For a realistic use case for media queries: read up on Responsive Web Design: 
http://www.alistapart.com/articles/responsive-web-design/
*/

body {
	background: black;
	color: #333;
	font-family: Helvetica, sans-serif;
}
p {
	width: 60%;
	min-width: 300px;
	max-width: 700px;
	margin: 2em auto;
	background: #fff;
	padding: 20px;
}
a {
	color: #333;
}

/* hide the attribute-test element. test2.css will show it */
#attribute-test {
	display: none;
}

/*styles for 300 and up!*/
@media only screen and (min-width: 15em) {
	body {
		background: yellow;
	}
}


@media only screen and (min-width: 24em), only screen and (max-width: 40em) {
	body {
		background: green;
	}
}




@media screen and (min-width: 40em),only print,projector{body{background:red;}}

/*styles for 888px and up!*/
@media screen and (min-width: 55.5em){
	body {
		background: blue;
	}
}


@media screen and (min-width: 70em){
	body {
		background: orange;
	}
}

/*one with pixels too! */
@media screen and (min-width: 1200px){
	body {
		background: navy;
	}
}