

.launcher #qunit-testrunner-toolbar,
.launcher #qunit-userAgent,
.launcher #qunit-tests,
.launcher #qunit-testresult {
	display: none;
}
.launcher #launcher {

	font: 1.5em/1 bold Helvetica, sans-serif;
}

#testelem {
	width: 50px;
	display: block;
}

/* a style like this should never apply in IE. If it does, tests will fail */
@media screen and (view-mode: minimized) {
	#testelem {
		width: 10px !important;
	}
}

/*styles for 480px and up - media type purposely left out here to test that in the process */
@media (min-width: 480px) {
	#testelem {
		width: 150px;
	}
	#testelem[class=foo] {
		height: 200px;
	}
}

/*styles for 500px and under*/
@media screen and (max-width: 460px) {
	#testelem {
		height: 150px;
	}
}

/* testing em unit support - 33em should be 528px and 35em should be 560px in IE with default font settings */
@media screen and (min-width: 33em) and (max-width: 35em) {
	#testelem {
		width: 12px;
	}
}



/*styles for 620px and up */
@media only screen and (min-width: 620px) {
	#testelem {
		width: 250px;
	}
}


/*styles for 760px and up */
@media only print, only screen and (min-width: 760px) {
	#testelem {
		width: 350px;
	}
}


/*styles for print that shouldn't apply */
@media only print and (min-width: 800px) {
	#testelem {
		width: 500px;
	}
}